<div class="event-photo buffer-both">
  <% if policy(photo).destroy? %>
    <% icon_trash = link_to(
        fa_icon('trash'), event_photo_path(photo.event, photo),
        method: :delete, data: {confirm: t('.destroy_confirm')}
      )
    %>
  <% end %>

  <% creation_photo_time = l photo.created_at, format: :short %>
  <% info = "#{t('photo_events.added') } #{render partial: 'users/user', object: photo.user} #{creation_photo_time} #{icon_trash}" %>
  <%= link_to image_tag(photo.photo.thumb.url), photo.photo.url, data: {lightbox: 'test', title: info} %>
  <%= t('photo_events.added') %> <%= render partial: 'users/user', object: photo.user %>
  <em><%= creation_photo_time %></em> <%= icon_trash %>
</div>
